.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-family: 'Segoe UI';
      font-weight: 600;
    }

    div.option {
      border: 1px solid #000;
      // border-radius: 3px;
      background-color: #ebeef336;
      // box-shadow: 0px 0px 1px 2px #505152a2;

      &:hover {
        background-color: black;
        cursor: pointer;
        color: white;
      }
    }
  }
}
