.card {
  height: 300px;
}
.img-card {
  width: 170px !important;
}
.content{
    height: 100px !important;
    width: 100%;
}
@media only screen and (max-width: 500px) {
  .card {
    height: 200px;
  }
  .img-card {
    margin-right: -10%;
  }
  .btn{
   margin-top:45% !important;
  }
}
