.animated-div {
  //   border: 1px solid blue;
  height: 200px;
  width: 80%;
  position: absolute;
  top: 0px;
  left: -400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
